<!-- CONTACT -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact Bruce</h2>
        <hr class="primary">
      </div>
        {{$data := index site.Data.contact }}
        {{ range $key, $value := (sort $data ".sort" "asc") }}
        {{ if (eq $key 0) }}
        <div class="col-lg-4 col-lg-offset-2 text-center">
        {{ else }}
        <div class="col-lg-4 text-center">
        {{ end }}
          <a href="mailto:{{ .email }}">
        {{ if .icon }}
            <i class="fa {{ .icon }} fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        {{ end }}
        {{ if .title }}
            <h3 class="contact-title" style="color: var(--fbc-primary-text);">{{ .title }}</h3>
        {{ end }}
            <p>{{ .email }}</p>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section> 
