<!-- CONTACT -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact Bruce</h2>
        <hr class="primary">
        <!-- <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p> -->
      </div>

      <div class="col-lg-4 col-lg-offset-2 text-center">
        <a href="mailto:bruce@brucegreer.com">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>bruce@brucegreer.com</p>
        </a>
      </div>

      <div class="col-lg-4 text-center">
        <ul class="contact-address">
          <li class="contact-title">
            <h3>F&G Music Ltd.</h3>
          </li>
          <!-- <li class="contact">
          2022 Street Drive
          <br>
          Town, Texas 75000
        </li> -->
          <!-- <li>(999) 867-5309</li> -->
          <li><a href="mailto:keithcfergus@yahoo.com">keithcfergus@yahoo.com</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>