<!-- LINKS -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading light-text">Connections and Links</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1 col-md-6 text-center">
        <div class="service-box">
          <a href="https://www.facebook.com/bruce.greer.5">
            <i class="fa fa-6x fa-facebook wow bounceIn text-primary"></i>
            <h3>Facebook</h3>
          </a>
          <p class="text-muted light-text">Meet Bruce</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 text-center">
        <div class="service-box">
          <a href="https://www.youtube.com/user/fgmusicltd">
            <i class="fa fa-6x fa-youtube wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h3>YouTube</h3>
          </a>
          <p class="text-muted light-text">FG Music LTD</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 text-center">
        <div class="service-box">
          <a href="http://iawlmusical.com/">
            <span class="social-icon">
              <img src="img/iawl.png" alt="IAWL" class="social-img wow bounceIn">
            </span>
            <h3>Its A Wonderful Life</h3>
          </a>
          <p class="text-muted light-text">Official Site</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 text-center">
        <div class="service-box">
          <a href="http://www.achristmascarolmusical.com/">
            <span class="social-icon">
              <img src="img/accarole.png" alt="ACC" class="social-img wow bounceIn">
            </span>
            <h3>A Christmas Carol</h3>
          </a>
          <p class="text-muted light-text">Official Site</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 text-center">
        <div class="service-box">
          <a href="http://www.cynthiaclawson.com/">
            <span class="social-icon">
              <img src="img/cynthia.png" alt="Cynthia" class="social-img wow bounceIn">
            </span>
            <h3>Cynthia Clawson</h3>
          </a>
          <p class="text-muted light-text">Official Site</p>
        </div>
      </div>
      
    </div>
  </div>
</section>