<!-- ABOUT -->
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Meet Bruce</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p class=""><strong>Bruce Greer</strong> has become one of the most popular and highly regarded writers for
          church music in the country with hundreds of titles and projects published by a wide array of leading
          publishers. He has won a Dove Award, Christian Music's highest honor, for his arranging and orchestrating. His
          commanding solo piano artistry, as well as his artistic collaboration with Grammy-winning vocalist, <strong><a
              href="http://www.cynthiaclawson.com/">Cynthia Clawson</a></strong>, has taken him around the world, (from
          England to Asia, Canada and all over the U.S.) performing in churches, conferences and leading concert halls.
        </p>
        <p class="">Bruce has musically directed and played for various theatres here in DFW and currently serves as
          Music Supervisor for <a href="https://www.lyricstage.org/">Lyric Stage in Dallas</a>. He is pursuing his
          passion for writing musical theater and frequently collaborates with lyricist Keith Ferguson. They have found
          success through their works, most notably their popular musical adaptations of <strong><em><a
                href="https://iawlmusical.com/">It's a Wonderful Life</a></em></strong> (licensing available through <a
            href="https://broadwaylicensing.com/">Broadway Licensing</a>), and <strong><em><a
                href="http://www.achristmascarolmusical.com/">A Christmas Carol</a></em></strong>. Their musical
          <strong><em>Hidden</em></strong>, based on the Book of Esther, is in development. Also, the duo has written a
          comedic musical adaptation of <strong>John Grisham’s</strong> novel, <strong><em>Skipping
              Christmas</em></strong>. And their latest musical is <strong><em>Canceling Christmas</em></strong>, based
          on the historic toymaker of the erector set, A.C. Gilbert and his effort during WW1 to save Christmas.</p>
        <p class="">Bruce currently serves as Chief Accompanist at <a href="https://firstdallas.org/">First Baptist
            Dallas</a>. Bruce and Kim, his precious wife of forty years, have four married sons and ten grandkids.</p>
      </div>
      <div class="col-lg-2">
        <img src="img/bruce01.jpg" alt="Meet Bruce" class="center">
      </div>
    </div>
  </div>
</section>