<!-- LINKS -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading light-text">Connections and Links</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{$data := index site.Data.links }}
      {{ range $key, $value := (sort $data ".sort" "asc") }}
      {{ if (eq $key 0) }}
      <div class="col-lg-2 col-lg-offset-1 col-md-6 text-center">
      {{ else }}
      <div class="col-lg-2 col-md-6 text-center">
      {{ end }}
        <div class="service-box">
          <a href="{{ .url }}">
            {{ if .icon }}
            <i class="fa fa-6x {{ .icon }} wow bounceIn text-primary"></i>
            {{ end }}
            {{ if .image }}
            <span class="social-icon">
              <img src="{{ .image }}" alt="{{ or .imgalt `social-icon` }}" class="social-img wow bounceIn">
            </span>
            {{ end }}
            <h3>{{ .name }}</h3>
          </a>
          <p class="text-muted light-text">{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>