<!-- ALBUMS -->
<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/celtic-carols" class="portfolio-box">
          <img src="img/portfolio/celtic-carols-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano
              </div>
              <div class="project-name">
                Celtic Carols
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/his-greatness-we-applaud/" class="portfolio-box">
          <img src="img/portfolio/his-greatness-we-applaud-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano & Orchestra
              </div>
              <div class="project-name">
                His Greatness We Applaud
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/i-surrender-all" class="portfolio-box">
          <img src="img/portfolio/i-surrender-all-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano & Orchestra
              </div>
              <div class="project-name">
                I Surrender All
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/majesty" class="portfolio-box">
          <img src="img/portfolio/majesty-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano & Orchestra
              </div>
              <div class="project-name">
                Majesty
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/solace" class="portfolio-box">
          <img src="img/portfolio/solace-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano
              </div>
              <div class="project-name">
                Solace
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://store.brucegreer.com/tapestry-on-ivory" class="portfolio-box">
          <img src="img/portfolio/tapestry-on-ivory-500.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Solo Piano
              </div>
              <div class="project-name">
                Tapestry on Ivory
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>